workflows/01-knowledge-ingestion.json
{
  "name": "Corporate Knowledge Ingestor",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "442844f0-c805-46a9-a3f7-dbc808b55dcf",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      text: `Tentang Dakana Techworks:\nDakana Techworks adalah software house modern yang berbasis di Malang.\nDakana Techworks berfokus pada pengembangan solusi digital yang menggabungkan UI/UX premium dengan fungsionalitas sistem yang handal.\n\nLayanan Dakana Techworks:\n1. Pembuatan Landing Page Estetik (menggunakan WordPress & Elementor).\n2. Pengembangan Sistem ERP Custom untuk bisnis.\n3. Integrasi AI Automation (menggunakan n8n, Ollama, dan AI Agents) untuk efisiensi operasional.\n\nPengalaman & Studi Kasus (Portofolio):\nSalah satu proyek unggulan Dakana Techworks adalah pengembangan Sistem ERP untuk PT. Goldtek Utama Mandiri.\nSistem ini dirancang untuk perusahaan konstruksi, mencakup manajemen proyek, inventaris, dan pelaporan keuangan.\nPengalaman ini membuktikan bahwa Dakana Techworks memahami alur kerja bisnis yang kompleks, bukan sekadar membuat tampilan website yang bagus.\n\nTarget Client:\nDakana Techworks sangat cocok bekerjasama dengan Biro Arsitek, Kontraktor, dan Bisnis Kreatif yang membutuhkan representasi digital yang profesional namun tetap fungsional.\n\nFounder & Tim:\nFounder Dakana Techworks memiliki latar belakang pendidikan Teknologi Informasi dan pengalaman profesional sebagai UI/UX Designer.\nFounder juga memiliki pengalaman strategis sebagai CMO di startup BengCare yang berhasil mendapatkan pendanaan $10.000, yang diaplikasikan dalam strategi digital klien.`\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "e59a85c8-31f1-4c42-a771-6c68e3f2919c",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "dakana-knowledge",
          "mode": "list",
          "cachedResultName": "dakana-knowledge"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        448,
        0
      ],
      "id": "da7432d9-46ac-41ed-9245-0ffa54713184",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "CL2OQWMAmcAhOju1",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        336,
        224
      ],
      "id": "e9d8c6eb-377e-4d37-a073-77e814dc1b67",
      "name": "Embeddings Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "LsbbBgoDuwVUokT3",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        512,
        256
      ],
      "id": "260eb6a7-acdf-472e-bce4-0bf755281db7",
      "name": "Default Data Loader"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "d9ebe12e-cc4c-4895-ae5d-abd79eb62eef",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "46502dc6a54c4fa5e691d5d50faedd459890f1c4d9f54598585281202445cd65"
  },
  "id": "VykUvj3TOZ8XySgY7zUSH",
  "tags": []
}