workflows/02-sales-agent-bot.json
{
  "name": "Automated Outreach Agent",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -16,
        -128
      ],
      "id": "5800d3d2-2a5c-43de-bc05-5fa06954ba81",
      "name": "Telegram Trigger",
      "webhookId": "d6cc898f-fa10-428f-8b9f-46eed866c08f",
      "credentials": {
        "telegramApi": {
          "id": "hAflHgDCJohP8XwH",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "=Gunakan tool ini untuk mengambil informasi tentang layanan, portofolio, dan pengalaman proyek Dakana Techworks.",
        "pineconeIndex": {
          "__rl": true,
          "value": "dakana-knowledge",
          "mode": "list",
          "cachedResultName": "dakana-knowledge"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        352,
        112
      ],
      "id": "c7f63bdc-9869-4b99-bcdc-ce48f2d61d45",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "CL2OQWMAmcAhOju1",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        352,
        272
      ],
      "id": "aa290a7c-08f8-4f06-b8bc-04f2b3581eb9",
      "name": "Embeddings Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "LsbbBgoDuwVUokT3",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=",
        "options": {
          "systemMessage": "=Kamu adalah pakar strategi bisnis dari Dakana Techworks. Tugasmu adalah menyusun draf pesan penawaran (cold message) yang sangat personal untuk biro arsitektur. Gunakan data dari Pinecone untuk memperkuat kredibilitas Dakana Techworks, terutama mengenai proyek ERP PT. Goldtek Utama Mandiri. Pastikan gaya bahasanya profesional namun tetap memiliki estetika desain yang tinggi sesuai karakter software house kita. Jika user memberikan nama agensi, buatkan 3 variasi pesan: santai, formal, dan to the point."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        160,
        -128
      ],
      "id": "2909da33-c139-457b-9646-04aa2bd7cf5c",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4",
          "mode": "list",
          "cachedResultName": "gpt-4"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        96,
        160
      ],
      "id": "e1fd2259-d334-47c4-8b05-6116e0be8faf",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "Der6KqpHmO3zpKsg",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.from.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        224,
        128
      ],
      "id": "202d6006-b952-4742-a282-700ae4596ac4",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        512,
        -128
      ],
      "id": "ee97a8da-a731-4531-8a85-2a0cde8df5c2",
      "name": "Send a text message",
      "webhookId": "c531c26b-2eb4-4dfc-b1ea-3cbbd664f4eb",
      "credentials": {
        "telegramApi": {
          "id": "hAflHgDCJohP8XwH",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "f103c3e8-c3ea-4d41-aa38-5513443eab03",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "46502dc6a54c4fa5e691d5d50faedd459890f1c4d9f54598585281202445cd65"
  },
  "id": "fcDZFN-7GzislN1AUWymq",
  "tags": []
}